# Entornos virtuales
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno y secretos
.env
.env.*
*.secret

# Datos locales / Caché de la aplicación
data/
*.parquet
*.xlsx
*.csv

# Archivos de VS Code / IDEs
.vscode/
.idea/
*.swp
